/* Reset default margin and padding */
.top-title { /*first name at top*/
  text-align: center;
  transform-origin: center;
  font-family: 'Boska-Variable', serif;
  font-size: 10em;
  color: #fff;
}

.bottom-title { /* upside down last name */
  text-align: center;
  transform-origin: center;
  transform: scaleY(-1);
  margin-bottom: --50vh;
  font-family: 'Boska-Variable', serif;
  font-size: 10em;
  color: #fff;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* FONTS */
  @import url('boska.css');

  @font-face {
    font-family: 'Boska-Extralight';
    src: url('../fonts/Boska-Extralight.woff2') format('woff2'),
         url('../fonts/Boska-Extralight.woff') format('woff'),
         url('../fonts/Boska-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Boska-Variable';
    src: url('../fonts/Boska-Variable.woff2') format('woff2'),
         url('../fonts/Boska-Variable.woff') format('woff'),
         url('../fonts/Boska-Variable.ttf') format('truetype');
         font-weight: 200 900;
         font-display: swap;
         font-style: normal;
  }

  /* header styles */

  .header {
    color: #fff;
    padding: 20px;
  }
  
  .header h1 {
    font-family: 'Boska-Extralight', serif;
    font-size: 1em; /* Adjust the font size as needed */
    position: center;
    margin: 50;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .navbar {
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
  }
  
  .left-link,
  .right-link {
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s;
  }
  
  .left-link {
    margin-right: auto;
  }
  
  .right-link {
    margin-left: auto;
  }
  
  .left-link:hover,
  .right-link:hover {
    color: #555;
  }
  